form {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 600px;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px 20px 30px;
    font-size: 15px;
}

h2 {
    margin: 0 0 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

fieldset {
    padding: 20px;
    outline: none;
    border: 2px solid gray;
    border-radius: 15px;
    margin-bottom: 15px;
}

#fname,
#lname,
#institute,
#grade {
    padding: 6px;
    outline: none;
    border: 2px solid gray;
    border-radius: 6px;
}

#dob {
    padding: 3px;
}

select {
    font-size: 16px;
    padding: 3px;
    border-radius: 6px;
    margin-right: 20px;
}

#submit,
#clear {
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 2px 20px 5px;
    border: none;
    border-radius: 7px;
    margin-top: 30px;
    margin-right: 10px;
}

#submit {
    cursor: pointer;
    background-color: green;
    color: lightgreen;
    transition: 0.4s ease-in-out;
}

#submit:hover {
    background-color: rgb(26, 101, 26);
}

#clear {
    cursor: pointer;
    background-color: rgb(255, 24, 24);
    color: rgb(49, 1, 1);
    transition: 0.4s ease-in-out;
}

#clear:hover {
    background-color: rgb(248, 89, 121);
}